In [ ]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.
ans-A database is a collection of data that is organized and stored in a way that allows for easy access, retrieval, and management of data.
SQL and NoSQL are two types of database management systems that differ in their approach to data storage and retrieval.
QL (Structured Query Language) databases are relational databases that store data in tables with predefined columns and data types. SQL databases use the SQL language to manipulate data and execute queries.
NoSQL (Not Only SQL) databases, on the other hand, are non-relational databases that do not use the traditional table-based data storage model. Instead, NoSQL databases use various data models such as document-based, key-value, graph, and column-family models.

In [ ]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
ans-
DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and manage database structures and schema. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and stored procedures.
CREATE - used to create new database objects such as tables, views, indexes, and procedures. For example:
    CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Email VARCHAR(100),
    Phone VARCHAR(20)
);
DROP - used to remove a database object such as a table, view, or index. For example
DROP TABLE Customers;
ALTER - used to modify the structure of a database object such as a table, view, or index. For example:
    ALTER TABLE Customers
ADD Address VARCHAR(100);

TRUNCATE - used to delete all data from a table. For example:
TRUNCATE TABLE Customers;

In [ ]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
ans-DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manage and manipulate data within a database.
INSERT - used to add new rows of data to a table. For example:
    INSERT INTO Customers (CustomerID, FirstName, LastName, Email, Phone)
VALUES (1, 'John', 'Doe', 'johndoe@email.com', '123-456-7890');
UPDATE - used to modify existing data within a table. For example:
UPDATE Customers
SET Phone = '555-555-5555'
WHERE CustomerID = 1;
DELETE - used to delete existing data from a table. For example:
    DELETE FROM Customers
WHERE CustomerID = 1;

In [ ]:
#Q4. What is DQL? Explain SELECT with an example.
ans-DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve and query data from a database
SELECT * FROM Customers;

In [ ]:
Q5. Explain Primary Key and Foreign Key.
A Primary Key is a column or set of columns in a table that uniquely identifies each row of data in that table. Primary Keys are used to enforce data integrity, ensure that each row in a table is unique, and serve as a reference point for other tables
A Foreign Key is a column or set of columns in a table that references the Primary Key column in another table.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
ans-import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.
ans-FROM clause: The FROM clause specifies the table or tables from which data will be retrieved. This is the first clause executed in a query.

WHERE clause: The WHERE clause is used to filter data based on specified conditions. This is executed after the FROM clause.

GROUP BY clause: The GROUP BY clause is used to group data based on one or more columns. This is executed after the WHERE clause.

HAVING clause: The HAVING clause is used to filter groups based on specified conditions. This is executed after the GROUP BY clause.

SELECT clause: The SELECT clause is used to retrieve specific columns from the table or tables specified in the FROM clause. This is executed after the HAVING clause.

ORDER BY clause: The ORDER BY clause is used to sort the result set based on one or more columns. This is executed after the SELECT clause.

LIMIT/OFFSET clause: The LIMIT/OFFSET clause is used to limit the number of rows returned by the query. This is executed last, after all other clauses have been executed.