In [ ]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
ans-
import pandas as pd

# create a series with the given data
my_series = pd.Series([4, 8, 15, 16, 23, 42])

# print the series
print(my_series)

In [ ]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.
ans-my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# create a series using the list
my_series = pd.Series(my_list)

# print the series
print(my_series)

In [ ]:
#Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.




Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female
ans-
import pandas as pd

# create a dictionary with the data
data = {'Name': ['Alice', 'Bob', 'Claire'], 
        'Age': [25, 30, 27], 
        'Gender': ['Female', 'Male', 'Female']}

# create a dataframe from the dictionary
df = pd.DataFrame(data)

# print the dataframe
print(df)

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
ans-In Pandas, a DataFrame is a two-dimensional table-like data structure with rows and columns, similar to a spreadsheet or a SQL table. It can be thought of as a collection of Pandas Series, where each column is a Series, and each row represents a record or an observation.

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
ans-
import pandas as pd

# create a Series
my_series = pd.Series([10, 20, 30, 40, 50])

# create a DataFrame from the Series
my_dataframe = pd.DataFrame(my_series, columns=['Values'])

# print the Series and the DataFrame
print(my_series)
print(my_dataframe)

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
ans-In Pandas, both Series and DataFrame are mutable in nature, which means that we can modify their contents after they have been created.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.
ans-import pandas as pd

# create three Series with the same index
names = pd.Series(['Alice', 'Bob', 'Claire'], index=[1, 2, 3])
ages = pd.Series([25, 30, 27], index=[1, 2, 3])
genders = pd.Series(['Female', 'Male', 'Female'], index=[1, 2, 3])

# combine the Series into a DataFrame
df = pd.concat([names, ages, genders], axis=1)
df.columns = ['Name', 'Age', 'Gender']   # add column names

# print the DataFrame
print(df)